Cart.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="User">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="UserID"/>
              <xs:element type="xs:string" name="Name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ProductID"/>
                    <xs:element type="xs:string" name="ProductName"/>
                    <xs:element type="xs:byte" name="Quantity"/>
                    <xs:element type="xs:short" name="Price"/>
                    <xs:element type="xs:short" name="Total"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Summary">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="SubTotal"/>
              <xs:element type="xs:short" name="Tax"/>
              <xs:element type="xs:short" name="GrandTotal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>